

.header__nav{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0rem 0rem 1rem;
}

.nav__logo img{
    width: 10rem;
}

.nav__btn-pokedex{
    max-width: 16.8rem;
    width: 100%;
    background-color: var(--btn-background);
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
}
.nav__btn-pokedex a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-decoration: none;
}

.btn-pokedex__text{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}