
.header__pokedex{
    padding: 5rem 0rem 4rem 0rem;
}
.header__pokedex__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex__nav__logo img{
    max-width: 20rem;
    width: 100%;
}