


.main__content__pokemons{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    
}

.pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--box-pokemon);
    max-width: 27rem;
    width: 100%;
    margin: auto;
    height: 12.4rem;
    border-radius: 1.2rem;
    padding: 1rem;
}
.pokemon__name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon__name p{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 0.2rem solid #ffffff59;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pokemon__name p:hover{
    transform: scale(1.1);
}

.pokemon__name span{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.pokemon__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}
.pokemon__type{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.pokemon__type span{
    color: #fff;
    background-color: #ffffff41;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    border-radius: 0.5rem;
    padding: 0.6rem;
    text-align: center;
    text-transform: capitalize;
}

.pokemon__image{
    height: 100%;
    z-index: 1;
    max-width: 14rem;
}

.pokemon__pokebola{
    position: absolute;
    right: 0;
    bottom: 0;
}

.main__buttons{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}
.main__button{
   width: 21.5rem;
   height: 4.2rem;
   border-radius: 1.5rem;
   background-color: #fff;
   color: #000;
   /* background-color: var(--pokedex-btn-more);
   color: #fff; */
   font-size: 1.6rem;
   font-weight: 400;
   outline: none;
   border: none;
   cursor: pointer;
   transition: all 0.4s ease-in-out;
}

.main__button:hover{
    background-color: transparent;
    color: #fff;
    border: 0.1rem solid #fff;
    /* background-color: #fff;
    color: black; */
 }
 




.grass{
    background-color: var(--box-pokemon-grass);
}
.fire{
    background-color: var(--box-pokemon-fire);
}
.water{
    background-color: var(--box-pokemon-water);
}
.bug{
    background-color: var(--box-pokemon-bug);
}
.electric{
    background-color: var(--box-pokemon-electric);
}
.ice{
    background-color: var(--box-pokemon-ice);
}
.normal{
    background-color: var(--box-pokemon-normal);
}
.fighting{
    background-color: var(--box-pokemon-fighting);
}
.flying{
    background-color: var(--box-pokemon-flying);
}
.poison{
    background-color: var(--box-pokemon-poison);
}
.psychic{
    background-color: var(--box-pokemon-psychic);
}
.dark{
    background-color: var(--box-pokemon-dark);
}
.rock{
    background-color: var(--box-pokemon-rock);
}
.ghost{
    background-color: var(--box-pokemon-ghost);
}
.steel{
    background-color: var(--box-pokemon-steel);
}
.dragom{
    background-color: var(--box-pokemon-dragon);
}
.fairy{
    background-color: var(--box-pokemon-fairy);
}
.ground{
    background-color: var(--box-pokemon-ground);
}

@media screen and (min-width: 1025px) {
    .main__content__pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}