


.main__content__pokemons{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    
}

.pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--box-pokemon);
    max-width: 27rem;
    width: 100%;
    margin: auto;
    height: 11.4rem;
    border-radius: 1.2rem;
    padding: 1rem;
}
.pokemon__name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon__name p{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
}
.pokemon__name span{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.pokemon__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pokemon__type{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.pokemon__type span{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: var(--box-pokemon-type);
    border-radius: 0.5rem;
    padding: 0.6rem;
    text-align: center;
}

.pokemon__image{
    width: 8rem;
    z-index: 1;
}

.pokemon__pokebola{
    position: absolute;
    right: 0;
    bottom: 0;
}

.main__button{
    max-width: 30rem;
    width: 100%;
}






.grass{
    background-color: var(--box-pokemon-grass);
}
.fire{
    background-color: var(--box-pokemon-fire);
}
.water{
    background-color: var(--box-pokemon-water);
}
.bug{
    background-color: var(--box-pokemon-bug);
}